/*
 * @Author: YIM610 
 * @Date: 2018-08-15 18:43:08 
 * @Last Modified by: YIM610
 * @Last Modified time: 2018-08-15 20:27:13
 */

$font-size-base: 20px;

$small-page-max-width: 480px !default;
$medium-page-max-width: 960px;

 $orange: #ee7419;
 $white: #fff;
