/*
 * @Author: YIM610 
 * @Date: 2018-08-16 20:09:57 
 * @Last Modified by: YIM610
 * @Last Modified time: 2018-08-17 11:26:47
 */
 @import '../../styles/variables';
 @import '../../styles/util/size';
 @import '../../styles/util/flex-center';

.main {
   width: 75%;
   margin: 5em auto;
   padding: 1em 0 3em;
   background: $white;
   font-size: $font-size-base;
   border-radius: .3em;
   box-shadow: 0 .1em .5em rgba(0, 0, 0, .1);
}